{
  "extends": ["prettier"],
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 8
  },
  "plugins": ["prettier"],
  "env": {
    "es6": true,
    "jest": true
  },
  "ignorePatterns": ["*.html"]
}
